<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <table>
            <tr>
                <th>
                    Result name
                </th>
                <th>
                    Success Rate
                </th>
                <th>
                    Actions
                </th>
            </tr>

                <% response.forEach((page) => { %>
                        <% page.results.map((result) => { %>
                        <tr id="results">
                            <td>
                                <a href=<%= result.url %>> <%= result.name %> </a>
                            </td>
                            <td> 100%</td>
                            <td>
                                <button> Working</button>
                                <button> Not Working</button>
                            </td>
                        </tr>
                        <% }) %>
                <% }) %>
        </table>
    </body>
</html>