<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>
            <table>
                <tr>
                    <th>
                        Result name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                    <% response.forEach((result) => { %>
                            <tr id="results">
                                <td>
                                    <a href=http://<%= result %>> <%= result %> </a>
                                </td>
                                <td>
                                    <button> Report Not Working</button>
                                </td>
                            </tr>
                    <% }) %>
            </table>
        </center>
    </body>



    <!-- <script>

    </script> -->
</html>