<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>

            <form action="/search?">
                <input type="hidden" name="email" value="<%=email%>" />
                <input type="text" name="title" id="search"/> <button>Search</button>
            </form>
            <table>
                <tr>
                    <th>
                        Result name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                    <% response.forEach((result) => { %>
		    
			<% result = decodeURIComponent(result) %>    
		    	<tr id="results">
                                <td>
                                    <a href="http://<%= result %>"> <%= result %> </a>
                                </td>
                                <td>
                                    <button> Report Not Working</button>
                                </td>
                            </tr>
                    <% }) %>
            </table>
        </center>
    </body>
 


    <!-- <script>

    </script> -->
</html>
